<h3>Target bearing</h3>
<div class="slidecontainer">
    <input type="range" min="0" max="359" value="0" class="slider" #targetBearingSlider (input)="updateTargetBearing(targetBearingSlider.value)"> 
</div>
<div class="bearingText">
        {{ this.currentTargetBearing }}
</div>

<h3>Antenna bearing</h3>
<div class="slidecontainer">
    <input type="range" min="0" max="359" value="0" class="slider" #AntennaBearingSlider (input)="updateAntennaBearing(AntennaBearingSlider.value)"> 
</div>
<div class="bearingText">
        {{ this.currentAntennaBearing }}
</div>





