.button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 4px;
    opacity: 0.7;
    -webkit-transition: .2s;
    border-radius: 10%;
    position: relative;
    left: 20%;
    top: 20px;
  }

  .button:hover {
    opacity: 1;
  }

  .start {
      background-color: green;
  }

  .stop {
      background-color: red;
  }

  .pressed {
    padding: 10px;
  }

  .startedText {
    text-align: center;
    top: 70px;
    color: seagreen;
  }

  .stoppedText {
    text-align: center;
    top: 70px;
    color: red;
  }